<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net48" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="SqlKata" version="2.3.7" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
</packages>